<!doctype html>
<html lang='en'>
<head>
<title>Drinkdex</title>
  <link rel="stylesheet" href="home.css">
</head>

<body>
<h1>DRINKDEX</h1>

<ul>
<li><a href="http://localhost:9393/">HOME</a></li>
<li><a href="http://localhost:9393/drink">DRINKS</a></li>
<li><a href="http://localhost:9393/about">ABOUT</a></li>
</ul>

<div>
<

</div>


</body>
</html>
