<!doctype html>
<html lang='en'>
<head>
  <title>Your Drinkfo</title>
  <link rel="stylesheet" href="home.css">
</head>
<h1>Your Drinkfo</h3>
<body>
<ul>
    <li><a href="http://localhost:9393/">HOME</a></li>
    <li><a href="http://localhost:9393/drink">DRINKS</a></li>
    <li><a href="http://localhost:9393/about">ABOUT</a></li>
  </ul>



</body>





</html>
