<!doctype html>
<html lang='en'>
<head>
<title>Drinkdex</title>
  <link rel="stylesheet" href="home.css">
</head>

<body>
<h1>DRINKDEX</h1>

<ul>
<li><a href="http://localhost:9393/">HOME</a></li>
<li><a href="http://localhost:9393/drink">DRINKS</a></li>
<li><a href="http://localhost:9393/about">ABOUT</a></li>
</ul>

<form action="/drink" method="post">
<label for="name">Name:</label>
<input type="text" id="name" name="user_name" maxlength="45">
<br>
<label for="weight">Weight:</label>
<input type="text" id="weight" name="user_weight" maxlength="4">
<br>
<label for="hours_since_meal">Hours Since Eating:</label>
<input type="text" id="hours_eat" name="hours_since_eating" maxlength="3">
<br>
<input type = "submit"/>
</form>

<div>


</div>


</body>
</html>
